<h1>Nghệ An trong tôi</h1>
<p align="justify">Với nhiều lắm những danh lam thắng cảnh, hệ thống di tích, văn hoá phong phú về số lượng, độc đáo về nội dung, đa dạng về loại hình, Nghệ An đang là miền đất hứa, là địa chỉ du lịch hấp dẫn đối với du khách.</p><br>
<p align="center"><i>Đường vô xứ Nghệ quanh quanh</br>
Non xanh nước biếc như tranh họa đồ…</i></p></br>





